<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!--防盗链功能-->
        <rule name="Prevent hotlinking">
          <!-- 
		^.*\. 全站保护
		^upxingao/.*\. 只保护upxingao目录,省资源
		-->
          <match url="^upxingao/.*\.(gif|jpg|png|jpeg|bmp|doc|docx|xls|xlsx|ppt|txt|zip|rar|gz|bz2|7z|pdf)$" ignoreCase="true" />
          <conditions>
		  
            <!--可以链接的网址-->
            <add input="{HTTP_REFERER}" pattern="http://jbuy.com.au/.*" negate="true" />
            <add input="{HTTP_REFERER}" pattern="http://jbuy.hk/.*" negate="true" />
            <add input="{HTTP_REFERER}" pattern="http://weiweilang.com/.*" negate="true" />
            <add input="{HTTP_REFERER}" pattern="http://www.jbuy.com.au/.*" negate="true" />
            <add input="{HTTP_REFERER}" pattern="http://www.jbuy.hk/.*" negate="true" />
            <add input="{HTTP_REFERER}" pattern="http://www.weiweilang.com/.*" negate="true" />
             <add input="{HTTP_REFERER}" pattern="http://www.super-fast.com.au/.*" negate="true" />
            <add input="{HTTP_REFERER}" pattern="http://super-fast.com.au/.*" negate="true" />
           <add input="{HTTP_REFERER}" pattern="http://119.23.22.189/.*" negate="true" />
			
          </conditions>
          <action type="Rewrite" url="/404.html" />
        </rule>
      </rules>
    </rewrite>
    
    <!--安全设置:禁用options-->
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="false"/>
        </verbs>
      </requestFiltering>
    </security>
	
  </system.webServer>
</configuration>
